.innerContainer {
	text-align: center;
}

.innerContainer div {
	text-align: left;
}

#top10 li, #navigation li  {
	float: left;
	display: inline;
}

.formLabel {
	display: inline;
}

.formInput {
	display: inline;
}