body {
	font-family: Georgia, 'Times New Roman', serif;
	font-size: 10pt;
}

.alternate { font-family: 'DejaWeb', Arial, Helvetica, sans-serif; }

a, a:link, a:visited {
	text-decoration: none;
	color: #940000;
}

a:hover {
	text-decoration: underline;
	color: #a00000;
}

input, select, textarea {
	background-color: #fff;
	border: solid 1px #494239;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	padding: 2px;
}

input:focus {
	background-color: #eee;
}

a.button { padding: 3px 5px; }

a.button, a.button:hover, a.button:link, a.button:visited, a.button:active, button.button, input.button{
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	font-family: Arial;
	text-decoration: none;
	display: inline-block;
	background: #554f48;
	color: #fff;
	border: solid 1px #000;
}

button.button.alternateButton, input.button.alternateButton, a.button.alternateButton, a.button.alternateButton:hover, a.button.alternateButton:link, a.button.alternateButton:visited, a.button.alternateButton:active { background: url('images/redpattern.png') #940000; color: #fff; }

a.bigButton, a.bigButton:hover, a.bigButton:link, a.bigButton:visited, a.bigButton:active, button.bigButton, input.bigButton {
	font-size: 14pt;
	padding: 5px 30px;
	background: url('images/redpattern.png') #940000;
	border: solid 1px #000;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius: 8px;
	color: #fff;
	font-family: Arial;
	text-decoration: none;
	margin: 3px 0;
	display: inline-block;
}

h1, h2, h3, h4, h5, h6 { font-family: 'Crimson Text', Georgia, 'Times New Roman', serif; font-weight: normal; }

h1 {
	font-size: 36px;
}

h2 {
	font-size: 24px;	
}

h3 {
	font-size: 18px;
}

ul { list-style: none; margin: 0; padding: 0; }
p { margin: .5em 0; font-size: 11pt; line-height: 1.1em; }
section, header { margin-bottom: 2em; }

section h1 { color: #940000; }

input.watermark {
	color: #999;
	font-style: italic;
}

.formRow {
	margin: 10px 0;
}

.formLabel {
	width: 125px;
	display: inline-block;
	text-align: right;
	margin-right: 20px;
	vertical-align: top;
}

.formInput {
	display: inline-block;
}

.formInput input, .formInput select, .formInput textarea {
	width: 175px;
}

.formValidator {
	display: inline-block;
	text-align: left;
	margin-left: 10px;
	width: 200px;
}

.formValidator .ui-state-error {
	padding: 3px;
}

.formValidator .ui-state-error .ui-icon-alert {
	float: left; 
	margin-right: 0.3em
}

.formRow .explanation {
	font-size: .8em;
	font-style: italic;
}

.ui-icon {
	display: inline-block;
}

#top10 { margin: .5em auto; }
#top10 ul { margin: 0 0 0 1em; float: right; }
#top10 li { display: inline-block; width: 24px; height: 24px; margin-right: 5px; background-color: #ccc; }
#top10 h1 { font-size: 12pt; font-weight: normal; display: inline; color: #000; }

#info { margin-top: 7px; }
.info { margin-right: 3em; font-family: 'DejaWeb', Arial, Helvetica, sans-serif; }

#messages { background: url(images/greypattern.png) #666; color: #fff; height: 30px; border-bottom: solid 2px #202020; }
#messages a, .copyright a { color: #ff0; }

#navigation { background: #940000; color: #fff; height: 26px; padding-top: 4px; border-top: solid 1px #bf6666 }
#navigation ul { float: left; }
#navigation li { display: inline-block; margin-right: .5em; }
#navigation li a { display: inline-block; height: 20px; padding: 3px 10px; color: #fff; text-shadow: 0px 1px 1px #000; }
#navigation li a.selected { text-shadow: none; color: #940000; background-color: #fff; -webkit-border-top-left-radius: 5px; -webkit-border-top-right-radius: 5px; -moz-border-radius-topleft: 5px; -moz-border-radius-topright: 5px; border-top-left-radius: 5px; border-top-right-radius: 5px; }

.quickLogin { float: right; }
.quickLogin .button { position: relative; top: 1px; }

.pageHeader { margin-top: 2em; }
.pageHeader h1 { background: url('images/logo.png') top left no-repeat; overflow: hidden; text-indent: 10000%; width: 473px; height: 188px; }
.pageHeader h2 { display: none; }
.pageHeader .bigButton { position: relative; left: 325px; top: -35px; }

.news > h1 { display: none; }
.newsItem ul, .newsItem li { margin: .5em 0; }

.fromManual h1, .secondaryNews h1 { font-size: 24px; color: #000; }
.fromManual h2 { font-size: 36px; color: #940000; }

.goodx { background: url('images/goodx.png') no-repeat scroll right top transparent; width:299px; height: 488px; position: relative; top: -150px; }
.mainContainer { background: url('images/background_2.png') no-repeat scroll left bottom transparent; padding-bottom:100px; }

.copyright { background: url(images/greypattern.png) #666; border-top: solid 1px #202020; color: #fff; text-align: center; font-size: 12pt; line-height: 1.75em; padding: 5px 0; }
.register { float: left; width: 270px; margin: 0 5px 0 0; border-right: solid 5px #ccc; padding-right: 12px; }

.register .formLabel, .logIn .formLabel { width: 60px; }
.register .formRow, .logIn .formRow { margin:  0 0 5px 0;}
.logIn { width: 270px; float: right; }
#playNow h1 { margin-bottom: 5px; font-size: 24px; }
.character a.bigButton { 
	width: 360px; 
	background: #940000 !important;
	padding: .25em; 
	border-top: 1px solid #BF6666; 
	position: relative; 
	top: 0px;
	left: 0px;
	-moz-box-shadow:1px 2px 2px #777; 
	-webkit-box-shadow:1px 2px 2px #777; 
	box-shadow:1px 2px 2px #777;  
	-webkit-transition: all 0.15s linear;
    -moz-transition: all 0.15s linear;
    -o-transition: all 0.15s linear;
    transition: all 0.15s linear; 
}
.character a.bigButton:hover { 
	top: -3px; 
	left: -2px;
	-moz-box-shadow: 3px 5px 5px #444; 
	-webkit-box-shadow: 3px 5px 5px #444; 
	box-shadow: 3px 5px 5px #444; 
}

.bigButton .characterPortrait { 
	margin: 2px 10px 2px 2px;  
	height: 150px; 
	width: 150px; 
	display: block; 
	float: left; 
	-webkit-border-top-left-radius: 4px;
	-webkit-border-bottom-left-radius: 4px;
	-moz-border-radius-topleft: 4px;
	-moz-border-radius-bottomleft: 4px;
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
}
.mainSection { position: relative; }
.bigButton .TestRace { background: transparent url('images/gargoyle.jpg') top left no-repeat; }
.bigButton .TestRace2 { background: transparent url('images/orc.jpg') top left no-repeat; }
.bigButton .TestRace3 { background: transparent url('images/goblin.jpg') top left no-repeat; }
.bigButton .TestRace4 { background: transparent url('images/troll.jpg') top left no-repeat; }

.bigButton .Aviakan { background: transparent url('images/aviakan.jpg') top left no-repeat; }
.bigButton .Drow { background: transparent url('images/drow.jpg') top left no-repeat; }
.bigButton .Dwarf { background: transparent url('images/dwarf.jpg') top left no-repeat; }
.bigButton .Elf { background: transparent url('images/elf.jpg') top left no-repeat; }
.bigButton .Gargoyle { background: transparent url('images/gargoyle.jpg') top left no-repeat; }
.bigButton .HalfElf { background: transparent url('images/halfelf.jpg') top left no-repeat; }
.bigButton .Human { background: transparent url('images/human.jpg') top left no-repeat; }
.bigButton .Orc { background: transparent url('images/orc.jpg') top left no-repeat; }
.bigButton .Troll { background: transparent url('images/troll.jpg') top left no-repeat; }
.bigButton .Goblin { background: transparent url('images/goblin.jpg') top left no-repeat; }

.mainSection { padding: 2em 0; }
.formInput  .statChooser { width: 2em; }
#logIn h1 { display: none; }
#createCharacter .formLabel { width: 95px; }
#createCharacterForm .selectStats .formLabel { font-weight:bold; vertical-align:top; width:3em; }
.character { margin-bottom: 1em; }
.character li { font-size: 10pt; float: left; display: block; width: 49%; }
.character .characterName { display: block; font-size: 20pt; font-family: 'Crimson Text', Georgia, 'Times New Roman', serif; margin-bottom: 10px; }
.character .characterStats { display: block; font-size: 12pt; }
.character .recentActivity li { margin-top: 5px; font-family: 'DejaWeb', Arial, Helvetica, sans-serif; } 
.emote { font-style: italic; }
#chatForm a.button { margin-right: .5em; }
.statLabel { font-weight: bold; }
.stat { margin: .25em 0; }
.stat.name, .stat.level { width: 100%; clear: both; }
#bottom { margin-bottom: 1em; overflow: auto; }
#chatForm {
	padding: 0 21px;
	position:relative;
	top:79px;
	z-index:999;
}
#chatChannels .ui-tabs-panel { height: 300px; overflow: auto; margin-top: 30px; }
.game .copyright { font-size: .75em; }
.motd { font-size: 1.1em; font-weight: bold; color: #C08826; }
.chatMessage{ font-size: 1.1em; line-height: 1.35em; }
#currentMap { background: transparent url(images/town1.png) top left no-repeat; float: left; overflow: hidden; }
#movement td { padding: 0 0 1px 1px; font-size: 9pt; }
#currentMap td { border: none; border-collapse: collapse; height: 30px; width: 30px; }
#currentMap tr { height: 30px; }
.mapData { font-family: 'DejaWeb', Arial, Helvetica, sans-serif; padding: 0; margin: 0; height: 30px; width: 30px; display: block; text-align: center; }
.ra_created { font-size: .75em; font-style: italic; }
.character li.ra_gold { font-size: 18pt; }
.icon { display: inline-block; height: 24px; margin-right: 6px; padding-left: 32px; padding-top: 5px; }
.icon.str { background: transparent url(images/stricon.png) top left no-repeat; }
.icon.dex { background: transparent url(images/dexicon.png) top left no-repeat; }
.icon.vit { background: transparent url(images/viticon.png) top left no-repeat; }
.icon.gold { background: transparent url(images/goldicon.png) top left no-repeat; }
.icon.wis { background: transparent url(images/wisicon.png) top left no-repeat; }
.icon.int { background: transparent url(images/inticon.png) top left no-repeat; }
#currentMap .player { display: block; height: 28px; width: 28px; text-indent: 1000000%; background: transparent url(images/humanplayer.png) center left no-repeat; }
.accountActions { float: right; }
#messages .alternateButton  { color: #fff; }
.raceList .bigButton { width: 100%; }
.raceList .bigButton .description { font-size: 12pt; font-family: 'Crimson Text', Georgia, 'Times New Roman', serif; }
.raceList .icon { clear: left; }
.raceStats { display: block; width: 80px; float: left; }
#statsWindow .statLabel { width: 105px; }
#statsWindow .stat:nth-child(even), .itemSelection:nth-child(even) { background: #ddd; }
#myCharacter_Experience { width:100%; height: 15px; display: inline-block; }

a.fb_button, a.fb_button:link, a.fb_button:hover, a.fb_button:active {
	color: #fff;
	font-family: "lucida grande", tahoma, verdana, arial, sans-serif;
	font-size: 11px;
}

.or { display: block; background-color: #eee; border-top: solid 1px #ddd; border-bottom: solid 1px #ddd; padding: 2px 0; text-align: center; margin: .25em 0; }
.register form, .logIn form { padding-top: .25em; }

#c_checkName_status { height: 14px; width: 14px; display: inline-block; background-color: #ccc; position: relative; top: 2px; }
#c_checkName_status.available { background-color: #090; }
#c_checkName_status.unavailable { background-color: #900; }
.statLabel.gold { overflow: hidden; text-indent: 100000px; display: inline-block; width: 24px; padding: 0; }
#myCharacter_Gold { position: relative; top: -7px; }
.itemSelection .itemType { display: inline-block; width: 80px; }
.itemSelection { margin: .25em 0; }
.newMessage a, .newMessage.ui-state-default a, .newMessage.ui-state-default a:link, .newMessage.ui-state-default a:visited { font-weight: bold; color: #fff; }