body {
	font-family: Georgia, 'Times New Roman', serif;
	font-size: 10pt;
	line-height: 1.25em;
	background: #222;
	color: #fff;
}

.alternate { font-family: 'DejaWeb', Arial, Helvetica, sans-serif; }

a, a:link, a:visited {
	text-decoration: none;
	color: #ff0;
}

a:hover {
	text-decoration: underline;
	color: #cc0;
}

input, select, textarea {
	background-color: #fff;
	border: solid 1px #494239;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	padding: 2px;
}

input:focus {
	background-color: #eee;
}

a.button, input.button { padding: 0.3em 0.75em }

a.button, a.button:hover, a.button:link, a.button:visited, a.button:active, button.button, input.button{
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	font-family: Arial;
	text-decoration: none;
	display: inline-block;
	background: #554f48;
	color: #fff;
	border: solid 1px #000;
}

button.button.alternateButton, input.button.alternateButton, a.button.alternateButton, a.button.alternateButton:hover, a.button.alternateButton:link, a.button.alternateButton:visited, a.button.alternateButton:active { background: url('images/redpattern.png') #940000; color: #fff; }

a.bigButton, a.bigButton:hover, a.bigButton:link, a.bigButton:visited, a.bigButton:active, button.bigButton, input.bigButton {
	font-size: 14pt;
	padding: 5px 30px;
	background: url('images/redpattern.png') #940000;
	border: solid 1px #000;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius: 8px;
	color: #fff;
	font-family: Arial;
	text-decoration: none;
	margin: 3px 0;
	display: inline-block;
}

h1, h2, h3, h4, h5, h6 { font-family: Georgia, 'Times New Roman', serif; font-weight: normal; line-height: 1.25em; }

h1 {
	font-size: 36px;
}

h2 {
	font-size: 24px;	
}

h3 {
	font-size: 18px;
}

ul { list-style: none; margin: 0; padding: 0; }
p { margin: .5em 0; font-size: 11pt; line-height: 1.1em; }
section, header { margin-bottom: 2em; }

/*section h1 { color: #79f; }*/
section h1 { color: #c90; }

.newsItem a {
    color: #79f;
}

input.watermark {
	color: #999;
	font-style: italic;
}

.formRow {
	margin: 10px 0;
}

.formLabel {
	width: 125px;
	display: inline-block;
	text-align: right;
	margin-right: 20px;
	vertical-align: top;
}

.formInput {
	display: inline-block;
}

.formInput input, .formInput select, .formInput textarea {
	width: 175px;
}

.formValidator {
	display: inline-block;
	text-align: left;
	margin-left: 10px;
	width: 200px;
}

.formValidator .ui-state-error {
	padding: 3px;
}

.formValidator .ui-state-error .ui-icon-alert {
	float: left; 
	margin-right: 0.3em
}

.formRow .explanation {
	font-size: .8em;
	font-style: italic;
}

.ui-icon {
	display: inline-block;
}

#top10 { margin: .5em auto 4em auto; }
#top10 li { display: inline-block; width: 24px; height: 24px; margin-right: 5px; background-color: #ccc; }
#top10 h1 {     
color: #fff;
    display: inline;
    float: left;
    font-size: 12pt;
    font-weight: normal;
    margin-right: 10px;
    margin-top: 4px; 
}

#info { 
    border-bottom: 1px dotted #555555;
    padding: 3px;
    text-align: right; }
.info { margin-right: 3em; font-family: 'DejaWeb', Arial, Helvetica, sans-serif; }
.game #info { border-bottom: none; font-size: .75em; }
.game #info a:not(.button) { color: #999; }
.pageHeader { display: none; }

#messages { background: url("images/header.png") no-repeat scroll center #000; border-bottom: 1px solid #202020; height: 200px; }
.game #messages { height: auto; background: none; }
#messages a, .copyright a { color: #ff0; }

#navigation { background: #b70; color: #fff; height: 31px; border-top: solid 1px #c90; margin-bottom: 1em }
#navigation ul { float: left;  margin-top: 5px; }
#navigation li { display: inline-block; margin-right: .5em; height: 26px; overflow: hidden; }
#navigation a, #navigation button { display: inline-block; height: 20px; padding: 3px 10px; color: #fff; text-shadow: 0px 1px 1px #000; background: transparent; border: 0 none; font-family: Georgia,'Times New Roman',serif; }
#navigation button { cursor: hand; font-size: 100%; position: relative; top: -1px; cursor: pointer; }
#navigation button:hover { text-decoration: underline; }
#navigation a.selected { text-shadow: none; color: #fff; background-color: #222; -webkit-border-top-left-radius: 5px; -webkit-border-top-right-radius: 5px; -moz-border-radius-topleft: 5px; -moz-border-radius-topright: 5px; border-top-left-radius: 5px; border-top-right-radius: 5px; }
.fb_ltr { position: relative; top: 4px; }
.quickLogin { float: right; }
.quickLogin .button { position: relative; top: 1px; }

.news > h1 { display: none; }
.newsItem ul, .newsItem li { margin: .5em; }
.newsItem a { font-family: Georgia; }
.newsItem date { font-style: italic; }
.subscribe { font-weight: bold; margin: .5em 0; }
.rssFeed { background: url('images/feed-icon-14x14.png') center left  no-repeat; padding-left: 18px; }
.twitter { background: url('images/Twitter-icon.png') center left  no-repeat; padding-left: 18px; }

.fromManual h1, .secondaryNews h1 { font-size: 24px; color: #aaa; }
.fromManual h2 { font-size: 36px; color: #940000; }

.goodx { background: url('images/goodx.png') no-repeat scroll right top transparent; width:299px; height: 488px;  }
.mainContainer { padding-bottom:100px; }

.copyright { background: url('images/greypattern.png') #666; border-top: solid 1px #202020; color: #fff; text-align: center; font-size: 12pt; line-height: 1.75em; padding: 5px 0; }
.register { float: right; width: 270px; margin: 0 5px 0 0; border-left: solid 5px #ccc; padding-left: 12px; }

.register .formLabel, .logIn .formLabel { width: 60px; }
.register .formRow, .logIn .formRow { margin:  0 0 5px 0;}
.register h3, .logIn h3 { margin-top: .25em; margin-bottom: .5em; }
.logIn { width: 270px; float: left; }
#playNow h1 { margin-bottom: 5px; font-size: 24px; }
.character a.bigButton { 
	width: 360px; 
	background: #940000 !important;
	padding: .25em; 
	border-top: 1px solid #BF6666; 
	position: relative; 
	top: 0px;
	left: 0px;
	-moz-box-shadow:1px 2px 2px #000; 
	-webkit-box-shadow:1px 2px 2px #000; 
	box-shadow:1px 2px 2px #000;  
	-webkit-transition: all 0.15s linear;
    -moz-transition: all 0.15s linear;
    -o-transition: all 0.15s linear;
    transition: all 0.15s linear; 
}
.character a.bigButton:hover { 
	top: -3px; 
	left: -2px;
	-moz-box-shadow: 3px 5px 5px #000; 
	-webkit-box-shadow: 3px 5px 5px #000; 
	box-shadow: 3px 5px 5px #000; 
}

.bigButton .characterPortrait { 
	margin: 2px 10px 2px 2px;  
	height: 150px; 
	width: 150px; 
	display: block; 
	float: left; 
	-webkit-border-top-left-radius: 4px;
	-webkit-border-bottom-left-radius: 4px;
	-moz-border-radius-topleft: 4px;
	-moz-border-radius-bottomleft: 4px;
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
}
.mainSection { position: relative; }

.bigButton .Aviakan, .tops .Aviakan  { background: transparent url('images/aviakan.jpg') top left no-repeat; }
.bigButton .Drow, .tops .Drow { background: transparent url('images/drow.jpg') top left no-repeat; }
.bigButton .Dwarf, .tops .Dwarf { background: transparent url('images/dwarf.jpg') top left no-repeat; }
.bigButton .Elf , .tops .Elf { background: transparent url('images/elf.jpg') top left no-repeat; }
.bigButton .Gargoyle, .tops .Gargoyle { background: transparent url('images/gargoyle.jpg') top left no-repeat; }
.bigButton .HalfElf, .tops .Half.Elf { background: transparent url('images/halfelf.jpg') top left no-repeat; }
.bigButton .Human, .tops .Human { background: transparent url('images/human.jpg') top left no-repeat; }
.bigButton .Orc, .tops .Orc { background: transparent url('images/orc.jpg') top left no-repeat; }
.bigButton .Troll, .tops .Troll  { background: transparent url('images/troll.jpg') top left no-repeat; }
.bigButton .Goblin, .tops .Goblin { background: transparent url('images/goblin.jpg') top left no-repeat; }

.ui-dialog .statsWindow { background-position: 262px 15px !important; background-repeat: no-repeat !important; }
.ui-dialog .statsWindow.Aviakan  { background-image: url('images/race_24s/aviakan.jpg'); }
.ui-dialog .statsWindow.Drow { background-image: url('images/race_24s/drow.jpg'); }
.ui-dialog .statsWindow.Dwarf { background-image: url('images/race_24s/dwarf.jpg'); }
.ui-dialog .statsWindow.Elf{ background-image: url('images/race_24s/elf.jpg'); }
.ui-dialog .statsWindow.Gargoyle { background-image: url('images/race_24s/gargoyle.jpg'); }
.ui-dialog .statsWindow .Half.Elf { background-image: url('images/race_24s/halfelf.jpg'); }
.ui-dialog .statsWindow.Human { background-image: url('images/race_24s/human.jpg'); }
.ui-dialog .statsWindow.Orc { background-image: url('images/race_24s/orc.jpg'); }
.ui-dialog .statsWindow.Troll  { background-image: url('images/race_24s/troll.jpg'); }
.ui-dialog .statsWindow.Goblin { background-image: url('images/race_24s/goblin.jpg'); }


.mainSection { padding: 2em 0; }
.formInput  .statChooser { font-weight: bold; font-size: 18pt; }
#logIn h1 { display: none; }
#createCharacter .formLabel { width: 95px; }
#createCharacterForm .selectStats .formLabel { font-weight:bold; vertical-align:top; width:3em; }
.character { margin-bottom: 1em; }
.character li { font-size: 10pt; float: left; display: block; width: 49%; }
.character .characterName { display: block; font-size: 20pt; font-family: 'Crimson Text', Georgia, 'Times New Roman', serif; margin-bottom: 10px; line-height: 1em; }
.character .characterStats { display: block; font-size: 12pt; }
.character .recentActivity li { margin-top: 5px; font-family: 'DejaWeb', Arial, Helvetica, sans-serif; } 
.emote { font-style: italic; }
#chatForm a.button { margin-right: .5em; }
.statLabel { font-weight: bold; }
.stat { margin: .25em 0; }
.stat.name, .stat.level { width: 100%; clear: both; }
#bottom { margin-bottom: 1em; overflow: auto;}
#chatForm {
	padding: 0 21px;
	position:relative;
	top:79px;
	z-index:999;
}
#chatChannels .ui-tabs-panel { overflow: auto; margin-top: 30px; }
.game .copyright { font-size: .75em; }
.motd { font-size: 1.1em; font-weight: bold; color: #C08826; }
.chatMessage{ font-size: 1.1em; line-height: 1.35em; }
#currentMap { float: left; overflow: hidden; height: 150px; width: 150px; }
#marker { height: 4px; width: 4px; margin-top: 73px; margin-left: 73px; float: left; background: #fff; } 
#movement td { padding: 0 0 1px 1px; font-size: 9pt; }
.mapData { font-family: 'DejaWeb', Arial, Helvetica, sans-serif; padding: 0; margin: 0; height: 30px; width: 30px; display: block; text-align: center; }
.ra_created { font-size: .75em; font-style: italic; }
.character li.ra_gold { font-size: 18pt; }
.icon { display: inline-block; height: 24px; margin-right: 0px; padding-left: 32px; padding-top: 0px; }
.icon.str { background: transparent url(images/stricon.png) top left no-repeat; }
.icon.dex { background: transparent url(images/dexicon.png) top left no-repeat; }
.icon.vit { background: transparent url(images/viticon.png) top left no-repeat; }
.icon.gold { background: transparent url(images/goldicon.png) top left no-repeat; }
.icon.wis { background: transparent url(images/wisicon.png) top left no-repeat; }
.icon.int { background: transparent url(images/inticon.png) top left no-repeat; }
.icon.health { background: transparent url(images/HP.png) top left no-repeat; }
.icon.experience { background: transparent url(images/XP.png) top left no-repeat; }
.icon.freeLevels { background: transparent url(images/freelvl.png) top left no-repeat; }
.icon.bankedGold { background: transparent url(images/bankedgold.png) top left no-repeat; }
.icon.evil { background: transparent url(images/evil.png) top left no-repeat; }
.icon.good { background: transparent url(images/good.png) top left no-repeat; }
.icon.lvl { background: transparent url(images/LVL.png) top left no-repeat }
#currentMap .player { display: block; height: 28px; width: 28px; text-indent: 1000000%; background: transparent url(images/humanplayer.png) center left no-repeat; }
.accountActions { float: right; }
.accountActions a { margin-right: 1em; }
.accountActions a.button { margin: 0; }
#messages .alternateButton  { color: #fff; }
.raceList .bigButton { width: 100%; }
.raceList .bigButton .description { font-size: 12pt; font-family: 'Crimson Text', Georgia, 'Times New Roman', serif; }
.raceList .icon { clear: left; }
.raceStats { display: block; width: 80px; float: left; }
.statsWindow .statLabel { width: 105px; }
.statsWindow .stat:nth-child(even), .itemSelection:nth-child(even), .row:nth-child(even) { background: #ddd; }
.row .label { display: inline-block; width: 100px; font-weight: bold; }
.row { margin-bottom: .25em; padding: .25em; }
#myCharacter_ExperienceBar, #myCharacter_HealthBar { width:75%; height: 15px; display: inline-block; margin-bottom: 3px; }

a.fb_button, a.fb_button:link, a.fb_button:hover, a.fb_button:active {
	color: #fff;
	font-family: "lucida grande", tahoma, verdana, arial, sans-serif;
	font-size: 11px;
}

.or { display: block; background-color: #eee; border-top: solid 1px #ddd; border-bottom: solid 1px #ddd; padding: 2px 0; text-align: center; margin: .25em 0; }
.register form, .logIn form { padding-top: .25em; }

#c_checkName_status { height: 14px; width: 14px; display: inline-block; background-color: #ccc; position: relative; top: 2px; }
#c_checkName_status.available { background-color: #090; }
#c_checkName_status.unavailable { background-color: #900; }
#topLeft .statLabel.gold, #topLeft .statLabel.experience, #topLeft .statLabel.health { overflow: hidden; text-indent: 100000px; display: inline-block; width: 24px; padding: 0; float: left; }
#myCharacter_CurrentGold { position: relative; top: -7px; font-size: 14pt; }
.itemSelection .itemType { display: inline-block; width: 80px; }
.itemSelection { margin: .25em 0; }
.newMessage a, .newMessage.ui-state-default a, .newMessage.ui-state-default a:link, .newMessage.ui-state-default a:visited { font-weight: bold; color: #fff; }
#top { height: 230px; }
#monsterList { margin: 0 .5em; }
#fightForm h1 { margin: 0 0 .25em 0; }
#fightForm, .fightResults { text-align: center; position: relative; top: -15px; }
.fightResults .result { margin:  0 0 .25em 0; padding: .25em; }
.fightResults .enemy { color: #900; font-weight: bold; }
.fightResults .player { color: #090; font-weight: bold; }
.fightResults .damage { font-weight: bold; }
#fightForm .button { margin-right: .25em; }
#topCenter { height: 210px; overflow: auto; }
input.donateButton { border: 0 none; background: transparent; padding: 0; margin: 0; }
#movement {
	height: 150px;
	width: 150px;
	position: absolute;
	opacity: .25;
}

#movement:hover {
	position: absolute;
	opacity: .75;
}

#movement td { height: 50px; width: 50px; vertical-align: middle; text-align: center; }

form label { display: inline-block; margin-right: .5em; }
#topCenter > h1, #topCenter > form { position: relative; top: -15px; }
#buyForm, #sellForm { margin-top: 1em; }
#itemDescription, #sellDescription { display: inline; }
#sellForm > div, #buyForm > div { float: left; }
#sellForm select, #buyForm select, #transactionAmount, #submitTransaction { margin-left: .5em; }
#sellForm button, #buyForm button{ margin-left: .5em; }
.mainNews ul { list-style: circle; margin-left: 1.5em; }
.tos ul, .tos ol { margin-left: 1.5em; }
.tos p { margin-bottom: 1em; }
#topLeft .name { margin-bottom: 0; }
#topLeft .level { margin-top: 0; } 
.exp .ui-widget-header { background-image: url("images/goldpattern.png"); }
#pvpMessage { margin-top: 1em; }
.statLabel.all { margin-left: 32px; } 
.all button { margin-left: 66px; }
#bankTransfer { margin-top: 1em; }
.bankTransfer { float: left; }
.transferTarget { margin-left: .5em; }
#bankTransactionForm h3 { margin: .25em 0; }

body.game.dark {	background-color: #111;	color: #fff;}
.game.dark section h1 { color: #c33; }
article h1 { color: #999; font-size: 16pt; }
article h2 { color: #ccc; font-size: 12pt; font-style: italic; }
.game.dark .fightResults .enemy { color: #c33; }
.dark .ui-widget-content { background: #222; color: #ccc; }
.dark .statsWindow .stat:nth-child(even), .dark .itemSelection:nth-child(even), .dark .row:nth-child(even){background:#444;}
.dark .ui-tabs-nav .ui-state-active, .dark .ui-tabs-nav .ui-state-active .chatChannelLabel { color: #fff; background: #222; }
li.Aviakan { background-image: url("images/race_24s/aviakan.jpg"); }
li.Drow { background-image: url("images/race_24s/drow.jpg"); }
li.Dwarf { background-image: url("images/race_24s/dwarf.jpg"); }
li.Elf { background-image: url("images/race_24s/elf.jpg"); }
li.Gargoyle { background-image: url("images/race_24s/gargoyle.jpg"); }
li.Goblin { background-image: url("images/race_24s/goblin.jpg"); }
li.Half.Elf { background-image: url("images/race_24s/halfelf.jpg"); }
li.Human { background-image: url("images/race_24s/human.jpg"); }
li.Orc { background-image: url("images/race_24s/orc.jpg"); }
li.Troll { background-image: url("images/race_24s/troll.jpg"); }
.loading { opacity: .5; }

.tops #topList li { height: 150px; margin-bottom: 6px; border-bottom: solid 1px #ccc; padding: 0px 6px 6px 160px; background-position: 3px 3px; }
.tops #topList li:nth-child(odd){ background-color: #333; }
.tops #topList li:first-child { background-color: #ffc; color: #000; }
.tops #topList h2 { text-shadow: 0px 1px 1px #000; color: #c33; font-size: 32px; float: right; }
.tops #topList h3 { text-shadow: 0px 1px 1px #000; color: #c33; font-size: 48px;  }
.tops #topList .charDetails { font-size: 14pt; }
#topsOptions { margin-bottom: .5em; }
.monsterType { font-weight: bold; }
.monsterType.Merchant { color: #03AF03; }
.monsterType.Defender { color: #0085EC; }
.monsterType.Assassin { color: #B5B3B3; }
.monsterType.Leader { color: #FF3737; }
.monsterType.Elder { color: #22AC53; }
.monsterType.Veteran { color: #FFDB31; }
.monsterType.Fanatic { color: #D098B0; }
.monsterType.Enigma { color: #fff; }
.monsterType.Saint { color: #FFC90E; }
.monsterType.Demon { color: #D00000; }
.monsterType.Judge { color: #FFC90E; }
.monsterType.Anarchist { color: #C33; }
.monsterType.Fool { color: #FF8965; }
.monsterType.Illusionist { color: #43F0FF; }

#debugWindow {
	opacity: .75;
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	background-color: #000;
	color: #ff0;
	font-family: Consolas, monospace;
	font-size: 10pt;
	height: 400px;
	width: 50%;
	overflow: auto;
	border-right: solid 1px #000;
	border-bottom: solid 2px #000;
	z-index: 10000;
}

#team img { float: left; margin: 0.25em .75em 0 0; border: solid 1px #000; -moz-box-shadow:1px 1px 1px #111; -webkit-box-shadow:1px 1px 1px #111; box-shadow:1px 1px 1px #111;  }
#team article { background: #333; -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; padding: .5em; margin: .5em 0; }

#logs  div:nth-child(even){
	background-color: #666;
}

.about ul {
	list-style: disc;
	margin-left: 1em;
}

.about li p {
	margin-left: .5em;
}

.lowLevel {
	color: #090;
}

.averageLevel{
	color: #990;
}

.highLevel {
	color: #900;
}

.myLocation { background: url(images/humanplayer.png) center center no-repeat; }
.locationType_0 { background-color: #50340f; }
.locationType_1 { background-color: #999; }
.locationType_2 { background-color: #23c5c8; }
.locationType_3 { background-color: #0e5b0b; }
.locationType_4 { background-color: #2459c9; }
.locationType_5 { background-color: #060; }
.locationType_6 { background-color: #f60; }
.locationType_7 { background-color: #60f; }
.locationType_8 { background-color: #333; }
.locationType_9 { background-color: #284; }
.locationType_10 { background-color: #c62324; }
.locationType_11 { background-color: #987; }
.locationType_12 { background-color: #9e6a1e; }
.locationType_13 { background-color: #009; }
.locationType_14 { background-color: #300; }
.locationType_null { background-color: #000; }

.stat .ui-progressbar { margin-left: 30px; }

#largeMap { display: block; clear: both; font-size: 8pt; margin: .5em; }